.features
    &-list
        &-pic
            position: relative
            margin-bottom: 18px
            &::before
                content: url(../img/features/bg.svg)
                position: absolute
                top: -7px
                left: -94%
                z-index: -1
    &-item
        margin-top: 40px
        position: relative
        &-title
            font-weight: bold  
            font-size: 16px     
            text-transform: uppercase  
            letter-spacing: .4px   
            text-align: center
        &-text
            font-weight: normal
            text-align: center
            color: $black
            font-size: 14px
        &:not(:last-child)::before
            content: ''
            background-color: #e4e4e4
            width: 100px
            height: 2px
            position: absolute
            bottom: -15px
            left: 50%
            margin-left: -50px

@media (min-width: 992px )            
    .features
        &-item
            &:not(:last-child)::before  
                display: none
@media (min-width: 1200px )            
    .features
        &-item
            &:not(:last-child)::before  
                display: block
                height: 100px
                width: 2px
                right: 0
                top: 50%
                left: auto
                margin-top: -50px  