.nav
    &bar
        &-toggler
            outline: 0 !important
        &-collapse
            display: flex
            justify-content: center  
            & .nav
                flex-direction: column
                text-align: center
        &-brand img
            max-width: 41vw
        &-social img
            max-width: 20px
            max-height: 20px        
        &-bg
            background-color: rgba(0, 0, 0, 0.73)
            backdrop-filter: blur(4px)
    


header
    position: relative
    background: url(../img/hero/hero-bg-flipped.jpg) no-repeat 0 0
    background-position: center
    background-size: cover
    z-index: 1

@media (max-width: 366px )    
    .navbar-container
        width: 100%
        padding: 0

@media (min-width: 418px )    
    .nav
        &bar
            &-social img
                max-width: none
                max-height: none

@media (min-width: 470px )    
    .nav
        &bar
            &-collapse .nav
                flex-direction: row
            &-social img
                max-width: none
                max-height: none
        & li:not(:last-child)
            margin-right: 15px

@media (min-width: 768px )   
    header
        background: url(../img/hero/hero-bg.jpg) no-repeat 0 0    
        position: relative 
        background-position: center
        background-size: cover
        z-index: 15
    .navbar-bg
        position: fixed
        top: 0%
        width: 100%
        z-index: 100
@media (min-width: 992px )
    .nav
        &bar
            &-social
                order: 5
                &-tel
                    color: white
                    font-size: 14px
@media (min-width: 1200px )
    .nav
        & li:not(:last-child)
            margin-right: 35px  
        &bar
            &-social
                &-tel
                    font-size: 16px         